{% extends "setup.html" %}

{% block body %}

<div id="hai" class="pure-u-3-5">
<head>
<h4>All Items</h4>
</head>
<br><br>
<body>
{% if error == "None" %}
Please Check the Checkbox to submit a transaction.
{% elif error == "Taken" %}
One or more of your items have been taken,please resubmit your transactions.
{% elif error=="Added" %}
Your transactions have been added! Be sure to message your seller(s) to complete your transactions.
{% endif %}
<table class="pure-table" width=1000 height=100>
  <thead>
    <tr>
      <th>Seller</th>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Condition</th>
      <th>Price</th>
      <th>Add to Cart</th>
    </tr>
  </thead>
<form method='POST'>
  <input type='submit' name='button' value='Submit'>
  <br><br>
<tbody>
    {% for items in itemList %}

    <tr>
      <td>{{items[0]}}</td>
      <td>{{items[1]}}</td>
      <td>{{items[2]}}</td>
      <td>{{items[3]}}</td>
      <td>{{items[4]}}</td>
      <td>{{items[5]}}</td>
       <td>$ {{items[6]}}</td>
       {% if items[0]!= user %}
      <td><input type='checkbox' name="{{items[0]}}add"> Add to Cart </td>  
      {% else %}
      <td></td>
      {% endif%}
    </tr>
    {% endfor %}
</form>
    </tbody>

  </table>
</body>
</div>
{% endblock %}
