{% extends "base.html" %}

{% block head %}
<h1> Home Page </h1>
<br>
{% endblock %}

{% block body %}
<div id="info">
      <p> 
	Welcome to StuyBS, a site created for Stuyvesant students to replace the disorganized Facebook group of the same name, where students may list, browse, and purchase items for sale by fellow peers!
	<br><br>
	Please use the menu bar to the left to navigate through the site!
	<br><br>
	Click on <a href="/view_items">My Listings</a> to see all items you have listed and are available for purchase.
	<br><br>
	Click on <a href="/all_items">Browse Listings</a> to see all items from sellers and sort them by category, condition, price, etc.
	<br><br>
	Click on <a href="/upload">Add A Listing</a> to post a new listing of your own.
	<br><br>
	Click on <a href="/trans">Transactions</a> to see all of your past transactions.
	<br><br>
	Click on <a href="/messages">Messages</a> to contact other buyers and sellers to discuss and confirm transactions.	
      </p>
</div>




{% endblock %}


