<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--using Pure CSS-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <!--[if lte IE 8]>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
	<![endif]-->
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

    
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <title> B/S Home  </title>
  </head>

  <body>
    <div id="layout" class="content pure-g">
      <div id="yui3-css-stamp" style="position: absolute !important; visibility: hidden !important"></div>
      <div>
	<style scoped>
	  
	  .button-success {
	  border-radius: 4px;
	  font-size: 125%;
	  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	  }
	  .button-error {
	  }
	  .button-warning {
	  }
	  .button-secondary {
	  }
	</style>
      </div>
      
      <div id="nav" class="pure-u">
	<div class="nav-inner">
	  <div class="pure-menu">
	    <ul class="pure-menu-list">
	      
	      <li class="pure-menu-heading"> Menu
	      </li>
	      <li class="pure-menu-item">
		<a href="#" class="pure-menu-link">
		  Home
		</a>
	      </li>

	      <li class="pure-menu-item">
		<a href="#" class="pure-menu-link">
		  Browse  
		  <span class="email-count"> (notification # goes here)
		  </span>
		</a>
	      </li>
	      
	      <li class="pure-menu-item">
		<a href="#" class="pure-menu-link">
		  Items You're Watching  
		  <span class="email-count"> (notification # goes here)
		  </span>
		</a>
	      </li>
	      
	      <li class="pure-menu-item">
		<a href="#" class="pure-menu-link">
		  Messages 
		  <span class="email-count"> (notification # goes here)
		  </span>
		</a>
	      </li>
	      
	      <li class="pure-menu-item">
		<a href="#" class="pure-menu-link">
		  Logout  
		</a>
	      </li>
	      
	    </ul>
	  </div>
	</div>
      </div>

      <!--this is for the Items You're Watching Tab-->
      <div id="list" class="pure-u-1">
	<div class="email-item email-item-selected pure-g">
	  <div class="pure-u">
	    <img class="email-avatar" alt="Image of Item Here" height="64" width="64" src="/img/item1.png">
	  </div>
	  <div class="pure-u-3-4">
	    <h5 class="email-name"> Name of Seller </h5>
	    <h4 class="email-subject"> Name of Item </h4>
	    <p class="email-desc">
	      Time left on bidding goes here
	    </p>
	  </div>
	</div>
	<div class="email-item pure-g">
	  <div class="pure-u">
	    <img class="email-avatar" alt="Image of Item Here" height="64" width="64" src="/img/item1.png">
	  </div>
	  <div class="pure-u-3-4">
	    <h5 class="email-name"> Name of Seller </h5>
	    <h4 class="email-subject"> Name of Item </h4>
	    <p class="email-desc">
	      Time left on bidding goes here
	    </p>
	  </div>
	</div>
	
      </div>

      <div id="main" class="pure-u-1">
	<div class="email-content">
	  <div class="email-content-header pure-g">
	    <div class="pure-u-1-2">
	      <h1 class="email-content-title"> Name of Item here </h1>
	      <p class="email-content-subtitle">
		Name of User here
	      </p>
	    </div>
	    <div class="email-content-controls pure-u-1-2">
	      
	      <a class="button-success pure-button">
		Buy
	      </a>
	      
	    </div>
	  </div>
	</div>
      </div>
      
    </div>
  </body>
  
</html>
