<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
 {% block body %}
  {% if user %}
  {{user}}
  {% endif %}
  {% if error == "created" %}
  Your account has been created, please login to continue 
  {% elif error == "wrong info" %}
  Wrong info. Please check your username and password. 
  {% elif error== "Insession" %}
  You are already logged in!
  {% endif %}
  <body>
  <form method ="POST">
   

    Username<br><input type='text' name='username' placeholder='Username'>
    <br>
    Password
    <br>
    
    <input type='password' name='password' placeholder='Password'>
    <br><br>
     <input type='submit' name='button' value='Submit'>
     <input type='submit' name='button' value='Register'>
    <br>
   
    <br>
  </form>  
  </body>
 {% endblock %}
  
</html>
