{% extends "base.html" %}

{% block head %}
<h1> Messages </h1>
<br>
{% endblock %}

{% block body %}

<div id="hai">
<body>
{% if error == "None" %}
Please enter a valid  message and reciever. 

{% elif error=="Sent" %}
Message sent!
{% endif %}
<form method='POST'>
  
  <br><br>
<table class="pure-table" width=1000 height=100>
  <thead>
    <tr>
      <th>Sender</th>
      <th>Message</th>
      
    </tr>
  </thead>

<tbody>
    {% for items in itemList %}

    <tr>
      <td>{{items['sender']}}</td>
      <td>{{items['message']}}</td>
      </tr>
    {% endfor %}

    </tbody>

  </table>
Send a Message:
<br><br><br>
<input type='text' name='reciever' placeholder='Reciever '><br><br>
<input type='text' name='message' placeholder='Message'><br><br>
<input type='submit' name='button' class='pure-button pure-button-primary' value='Send'>
</form>
</body>
</div>
{% endblock %}
