<!DOCTYPE html>
<html>
  <head>
    <title> Signup/Login demo </title>
    <!--link to Firebase API-->
    <script src='https://cdn.firebase.com/js/client/2.0.4/firebase.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <link rel='stylesheet' type='text/css' href='/resources/tutorial/css/example.css'>
  </head>
  
  <body>
    <!--Form here-->
    <div id='loginform'></div>
    <input type='text' id='emailInput' placeholder='Email'>
    <input type='password' id='passwordInput' placeholder='Password'>
    <input type='submit' id='signup' value='Signup'>
    <input type='submit' id='login' value='Login'>

    <br>
    <script src="/static/database.js"></script>
    <br>
    
  </body>
  
</html>
