<!DOCTYPE html>
<html>
  <head>
    <title> Signup/Login demo </title>
    <!--link to Firebase API-->
    
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
  </head>
  
  <body>
    {% if 'username' not in session %}
    <!--Form here-->
    <div id='loginform'></div>
    <input type='text' id='userInput' placeholder='Username'>
    <input type='password' id='passwordInput' placeholder='Password'>
    <input type='submit' id='signup' value='Signup'>
    <input type='submit' id='login' value='Login'>
    {% else %}
    YOU ARE LOGGED IN
    {% endif %}
    <br>
    <script src="/static/database1.js"></script>
    <br>
    
  </body>
  
</html>


<!-- <script src='https://cdn.firebase.com/js/client/2.0.4/firebase.js'></script> --!>
