{% extends "setup.html" %}
{% block body %}
<div id="info" class="pure-u-2-5">
  <div class="email-content">  
    
   {% if error == "Wrong info" %}
   Please fill all the fields correctly!
   {% elif error== "Name Taken" %}
   This name is taken. Please choose another!
   
   {% endif %}
    <form method="POST">
    <div class="pure-u-1-2">
      <h2>
	NEW LISTING
      </h2>
      
	
	<h4>
	  Name of item:
	</h4>
	<input type="text" name="name" placeholder='Name of item'>
	<br>

	<h4> Item Category:
	</h4>

	<!--TURN THIS INTO TEXT BOX-->
	<input type="radio" name="category" value="Educational materials">
	Educational materials
	<br>
	<input type="radio" name="category" value="Clothing">
	Clothing & Accessories
	<br>
	<input type="radio" name="category" value="Electronics">
	Electronics
	<br>
	<input type="radio" name="category" value="Misc" checked>
	Misc.
	<br>

	<h4 class="email-content-subtitle">
	  Condition:
	</h4>
	
	<input type="radio" name="cond" value="Mint" checked>
	Mint
	<br>
	<input type="radio" name="cond" value="Slightly Used" >
	Slightly Used
	<br>
	<input type="radio" name="cond" value="Used">
	Used
	<br>
	<input type="radio" name="cond" value="Poor" >
	Poor 
	<br><br>
	Quantity:
	<input type='number' name='quantity' placeholder='5' size=1 min=1>
	<br><br>
	Price: $
	<input type='number' name='price' placeholder='5' size=1 min=1>
	<br><br>
	Description:
	
	<input type="text" name="desc" placeholder='Describe your item' size=50>
	<br><br>
      <input type="submit" name="button" class="pure-button pure-button-primary" value="Submit">
      </form>
    </div> 
    
  </div>
  
</div>
{% endblock %}


