{% extends "base.html" %}

{% block head %}
<h1> My Listings </h1>
<br>
{% endblock %}

{% block body %}

<div id="hai">
<body>
<form method='POST'>
  <br><br>
<input type='submit' name='button' class='pure-button pure-button-primary' value='Submit Transactions'>
<br><br>
<table class="pure-table" width=1000 height=100>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Condition</th>
      <th>Price</th>
      <th>Auction?</th>
      <th>Transactions </th>
    </tr>
  </thead>
  <tbody>
    {% for items in itemList %}
    <tr>
      <td>{{items[0]}}</td>
      <td>{{items[1]}}</td>
      <td>{{items[2]}}</td>
      <td>{{items[3]}}</td>
      <td>{{items[4]}}</td>
      <td>$ {{items[5]}}</td>
      <td>{% if items[6] == True %}Yes {% else %} No {% endif %} <br> Bidder: {{items[7]}}</td>
      {% if items[6]== True and items[7]!="None" and items[7]!="" %}<td><input type='checkbox' name="{{items[0]}}accept">Accept Offer</td>{% else %} <td></td>{% endif %}
    </tr>
    {% endfor %}
    </tbody>
  </table>
</body>
</div>
{% endblock %}
